/*************************/
/* BELOW 1044px  */
/*************************/

@media (max-width: 65.25em) {

  /* font-size changes */
  .heading-primary {
    font-size: 4.4rem;
  }

  /* footer dropdown */
  .footer-address {
    display: flex;
    flex-direction: column;
  }

  .footer-details {
    padding: 1.2rem 0;
    text-align: center;
  }

  .details {
    display: none;
  }

  .enquery {
    flex-direction: column;
    padding: 0.6rem 2rem;
  }

  .enquery li:nth-child(even) {
    display: none;
  }
}

/*************************/
/* BELOW 950px  */
/*************************/

@media (max-width: 59em) {

  html {
    /* define 1rem is 9px
        9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero-content {
    padding: 3.6rem 0;
  }
}

/*************************/
/* BELOW 805px  */
/*************************/

@media (max-width: 50em) {

  /* navigation changes */
  .main-header {
    display: flex;
    justify-content: space-between;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(10px);
    
    position: fixed;
    margin-top: 9.6rem;
    padding: 3rem;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    /* left: 20%; */
    
    transform: translate(100%);
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-list {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }

  .main-nav-list li {
    padding: 3rem 0;
  }

.main-nav-btn{
  border-top: 2px solid #eee;
  padding: 3rem 9rem 3rem 0;
  align-items: flex-start;
  flex-direction: column-reverse;
}

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/*************************/
/* BELOW 770px  */
/*************************/

@media (max-width: 48em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/*************************/
/* BELOW 544px  */
/*************************/

@media (max-width: 34em) {
  .main-description {
    padding: 3.6rem 3rem;
    row-gap: 9.6rem;
  }

  .main-description p {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
