/*************************/
/* BELOW 1044px  */
/*************************/
@media (max-width: 65.25em) {
  /* font-size changes */
  .heading-primary {
    font-size: 4.4rem;
  }

  /* footer dropdown */
  .footer-address {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .footer-details {
    padding: 1.2rem 0;
    text-align: center;
  }

  .details {
    display: none;
  }

  .enquery {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 2rem;
  }

  .enquery li a {
    color: #000;
  }

  .enquery li:nth-child(even) {
    display: none;
  }
}

/*************************/
/* BELOW 950px  */
/*************************/
@media (max-width: 59em) {
  html {
    /* define 1rem is 9px
        9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero-content {
    padding: 3.6rem 0;
  }
}

/*************************/
/* BELOW 805px  */
/*************************/
@media (max-width: 50em) {
  /* navigation changes */
  .main-header {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
  }

  .main-nav-btn {
    display: none;
  }

  .mobile-btn-nav {
    display: block;
    /* z-index: 9999; */
  }

  .main-nav-link {
    display: none;
    background-color: rgba(255, 255, 255, 0.97);

    position: fixed;
    top: 12%;
    left: 20%;
    height: 100%;
    width: 100%;
    transform: translateX(100%);

    display: flex;
    /* align-items: flex-start;
    flex-direction: row; */
    /* justify-content: center; */
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav-link {
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(10px); */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/*************************/
/* BELOW 770px  */
/*************************/
@media (max-width: 48em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/*************************/
/* BELOW 544px  */
/*************************/
@media (max-width: 34em) {
  .main-description {
    padding: 3.6rem 3rem;
    row-gap: 9.6rem;
  }

  .main-description p {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
