/*************************/
/* NAVIGATION BAR */
/*************************/

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.main-nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
}

.main-nav a:hover {
  color: #3fa34d;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0 4rem 0 1.2rem;
}

.nav-icon a {
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.3rem;
  color: #000;
}

.main-nav-btn {
  display: flex;
  gap: 16px;
}

.btn-nav {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}

.main-nav-btn .btn-nav-join {
  background-color: #000;
  color: #fff;
}

.main-nav-btn .btn-nav-join:hover {
  background-color: rgba(0, 0, 0, 0.793);
  color: #fff;
}

.reg-login{
  display: flex;
  gap: 2rem;
}

/* Mobile Navigation */

.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
  padding: .6rem;
}

.icon-mobile-nav:hover,
.icon-mobile-nav:active{
  background-color: #eee;
 padding: .6rem;
  border-radius: 50%;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*************************/
/* SECTION GRID */
/*************************/

.hero-content {
  padding: 3.6rem;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3rem;
}

.step-text-box {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6rem;
  color: #1e3932;
}

.step-description {
  text-align: center;
  line-height: 2;
  padding: 0 4rem 0 4rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
}

.step-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/*************************/
/*  COMPANY DESCRIPTION */
/*************************/

.main-description {
  padding: 3.6rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  row-gap: 9.6rem;
  border-bottom: 2px solid #ddd;
}

.main-description p {
  max-width: calc(1em * (calc(600 / 13)));
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8;
}

.main-description a {
  color: #000;
}

.main-description a:hover {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}